################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CONPlayer/FileContentIndex
/.vs/CONPlayer/v17
/CONPlayer/.vs/cPlayer.csproj.dtbcache.json
/.cr/personal/FavoritesList
/.vs/CONPlayer/CopilotIndices/17.14.1601.40145
/.vs
/CONPlayer/bin/Debug/bin/favorites
/CONPlayer/bin/Debug/bin/player.config
/CONPlayer/bin/Debug/playlists/test.playlist
/CONPlayer/bin/Debug/playlists/TestPS4.playlist.playlist
/CONPlayer/bin/Debug/playlists/YargList.playlist
/CONPlayer/bin/Debug/playlists/YARGTEST.playlist
/CONPlayer/bin/Debug/res/backgrounds
/CONPlayer/bin/Debug/cPlayer.exe
/CONPlayer/bin/Debug/cPlayer.pdb
/CONPlayer/bin/Debug/HidSharp.dll
/CONPlayer/bin/Debug/HidSharp.pdb
/CONPlayer/bin/Debug/log.txt
/CONPlayer/bin/Debug/MidiCS.dll
/CONPlayer/bin/Debug/SlimDX.dll
/CONPlayer/bin/Debug/Vortice.XInput.dll
/CONPlayer/bin/Debug/Vortice.XInput.pdb
/CONPlayer/bin/Release/cPlayer.application
/CONPlayer/bin/Release/cPlayer.exe
/CONPlayer/bin/Release/cPlayer.exe.config
/CONPlayer/bin/Release/cPlayer.exe.manifest
/CONPlayer/bin/Release/HidSharp.dll
/CONPlayer/bin/Release/HidSharp.pdb
/CONPlayer/bin/Release/log.txt
/CONPlayer/bin/Release/MidiCS.dll
/CONPlayer/bin/Release/NAudio.dll
/CONPlayer/bin/Release/NAudio.Midi.dll
/CONPlayer/bin/Release/SlimDX.dll
/CONPlayer/bin/Release/Vortice.XInput.dll
/CONPlayer/bin/Release/Vortice.XInput.pdb
/CONPlayer/bin/Release/app.publish/cPlayer.exe
